//
//header {
//
//}
//
.header__logo  {
  font-family: 'Anonymous Pro' ;
  margin-bottom: 0;
}
//
.main-menu {
  font-family: 'Anonymous Pro' ;
  text-align: right;
}
.main-menu > a {
  display: inline-block;
  color:grey;
}
//
.menu-tags  {
  font-family: 'Anonymous Pro' ;
  padding: 0 0 0 105px;
  text-align: left;
}
//
//
//
.menu-tags a {
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  background: #757575;
  padding: 3px;
}
//
//
.post {
  border-style:dashed;
  border-color: #929292;
}
//
.post_title {
  font-family: "Pt Sans";
}
//
.breadcrumb {
  font-family: "Anonymous Pro";
  word-spacing: -1px;

}

.breadcrumb .separator {
  padding: 0 10px;
}

.breadcrumb .category {
  text-decoration: underline;
}
.post_author {
  color: grey;
}
//
//
.post_tags {
  font-family: 'Anonymous Pro' ;
  color: #FDFDFD;
  background: rgb(102, 51, 153);
}
//
.post_body {
  font-family: "Pt Sans";

}