
$susy : (
        columns: 5 7 3 2 3 1,
        output: isolate,
        //container: 1140px,
        //debug: (image: show)
);


.wrapper {
  @include container;
}

//header {
//  @include container;
//  height: 60px;
//}


#sidebar {
  @include span(1 first);
  text-align: center;
  position: fixed;

}
.aside__inner {
}

#main {
  @include span(3 at 2);
}

article.post {

  @include span(2 of (7 3 2) at 1);
  clear: both;

}

aside.post_metadata {
  @include span(1 of (7 3 2) last);
}


.header__logo {

}

.main-menu {
  margin: 0;
  padding: 0;
}

.sitename {
//@include span(last 10)
}




.main-menu {
  @include span(1);
  position: absolute;
  right: 0;
  top:0;
}
