

$category_post : (
        columns: 3 7 2,
        output: isolate,
  //container: 1140px,
  //debug: (image: show)
);

.category-image {
  width: 50%;
  margin: 0 auto;
}

.category-post {
  @include container($category_post)
}

.category__post_image {
  @include span(1 first of $category_post);
}

.category__post_tags {
  @include span(1 of $category_post at 3)
}
.category__post_author {
  @include span(1 of $category_post at 3)
}

.category__post_article {
  @include span(1 of $category_post at 2)
}



//.category__post_title {
//  @include span(1 of $category_post at 2)
//}
//
//.category__post_body {
//  padding-top: 1px;
//  @include span(1 of $category_post at 2);
//}

