

$category_post : (
        columns: 7 5,
        output: isolate,
  //container: 1140px,
  //debug: (image: show)
);



.category__post_article {
  @include container($category_post);
  @include margin-trailer;
}

.category__post_title {
}

.category__post_tags {
  float: left;
}
.category__post_author {
  float: left;
}

.category__post_article {
  //@include span(1 of $category_post at 2)
}



//.category__post_title {
//  @include span(1 of $category_post at 2)
//}
//
//.category__post_body {
//  padding-top: 1px;
//  @include span(1 of $category_post at 2);
//}

