
#ruby .category-image {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  opacity: .6;
}


#unix .category-image {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -90px;
  opacity: .6;

}

.category-post {
}

.category__post_title {
  text-decoration: underline;
}

.category__post_metadata {

}

.category__post_tags {
}
.category__post_author {
  padding-left: 1rem;
}
