@import "compass/typography/links";




//               ###
//                ##
//   ####   ####  ##   #### ######   #####
//  ##  ## ##  ## ##  ##  ## ##  ## ##
//  ##     ##  ## ##  ##  ## ##      #####
//  ##  ## ##  ## ##  ##  ## ##          ##
//   ####   #### ####  #### ####    ######
//



@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}

$_color-base-grey: rgb(99, 100, 103);

$palettes: (
        purple: (
                base:   rgb(42,40,80),
                light:  rgb(51,46,140),
                dark:   rgb(40,38,65)
        ),
        grey: (
                base:  $_color-base-grey,
                light: lighten($_color-base-grey, 10%),
                dark: darken($_color-base-grey, 10%)
        )
);



//
//$primary-color: rgb(0,0,0);
//$primary-color-darken: darken($primary-color, 10%);
//$primary-color-lighten: lighten($primary-color, 10%);
//
//$background-color: rgb(238,237,242);
//
//$blockquote: rgb(201,184,168);

a {
  @include link-colors(
    palette(grey, dark),  // normal
    palette(grey, light), // hover
    palette(grey, dark), // active
    palette(grey, light), // visited
    palette(grey, light)  // focus
  );

}

body {
  background-color: #ffffff;
}

p {
  //color: $primary-color;
}


article blockquote {
}
article blockquote.info { }
article .post_tags {}
article ul {

}


