//  ###                     ###
//   ##                      ##
//   ##      ####  ####      ##   ####  ######
//   #####  ##  ##    ##  #####  ##  ##  ##  ##
//   ##  ## ###### ##### ##  ##  ######  ##
//   ##  ## ##    ##  ## ##  ##  ##      ##
//  ###  ##  ##### #####  ######  ##### ####
//

.header__logo  {
  //font-family: 'Anonymous Pro' ;
  margin-bottom: 0;
  a {  text-decoration: none; }
}



//  ##   ##   ##   #### ##   ##         ##   ## ####### ##   ## ##   ##
//  ### ###  ####   ##  ###  ##         ### ###  ##   # ###  ## ##   ##
//  ####### ##  ##  ##  #### ##         #######  ## #   #### ## ##   ##
//  ####### ##  ##  ##  ## ####  ###### #######  ####   ## #### ##   ##
//  ## # ## ######  ##  ##  ###         ## # ##  ## #   ##  ### ##   ##
//  ##   ## ##  ##  ##  ##   ##         ##   ##  ##   # ##   ## ##   ##
//  ##   ## ##  ## #### ##   ##         ##   ## ####### ##   ##  #####
//

.main-menu {
  font-family: 'Anonymous Pro' ;
  text-align: right;
}
.main-menu > a {
  display: inline-block;
  color:grey;
}



//                                        ##
//                                        ##
//  ##  ##   ####  #####  ##  ##         #####   ####   ### ## #####
//  ####### ##  ## ##  ## ##  ##   ###### ##        ## ##  ## ##
//  ## # ## ###### ##  ## ##  ##          ##     ##### ##  ##  #####
//  ##   ## ##     ##  ## ##  ##          ## ## ##  ##  #####      ##
//  ##   ##  ##### ##  ##  ######          ###   #####     ## ######
//                                                     #####


.menu-tags  {
  text-align: center;
}
.menu-tags a {
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  background: #757575;
  padding: 3px;
}






//  ###                            ###                                ###
//   ##                             ##                                 ##
//   ##    ######   ####  ####      ##   #### ######  ##  ##  ##  ##   ##     #####
//   #####  ##  ## ##  ##    ##  #####  ##  ## ##  ## ##  ##  #######  ##### ##
//   ##  ## ##     ###### ##### ##  ##  ##     ##     ##  ##  ## # ##  ##  ## #####
//   ##  ## ##     ##    ##  ## ##  ##  ##  ## ##     ##  ##  ##   ##  ##  ##     ##
//  ###### ####     ##### #####  ######  #### ####     ###### ##   ## ###### ######
//

.breadcrumb {
  font-family: "Anonymous Pro";
  word-spacing: -1px;
}

.breadcrumb .delimiter {
  padding: 0 10px;
  font-size: 1.777rem;
  color: #757575;
}

.breadcrumb__category {
  display: inline-block;
  color: #757575;
}

.breadcrumb__category a {
  color: #757575;
  border-bottom: 1px dashed lightslategrey;
}