<% wrap_layout :layout do %>
<% unless current_article.nil? %>
  <div class="breadcrumb">
    <h3 class="breadcrumb__category"><%= post_breadcrumbs(current_article) %></h3>
    <span class="delimiter">/</span>
  </div>

  <article id="<%= author(current_article) %>" class="full_post" >

    <div class="post_title">
      <h2><%= current_article.title %></h2>
    </div>

    <div class="post_body">
      <%= current_article.body %>
    </div>

  </article>

<% end %>

<% end %>

