<% wrap_layout :layout do %>
  <div class="breadcrumb small">
        <%= post_breadcrumbs %>
  </div>


  <article class="full_post">
    <h1><%= current_article.title %></h1>
    <%= current_article.body %>
  </article>
<%end%>

